<html>
  <!-- Ive got this thing about properly formated HTML pages so I had put the wright minimal tags in -->
  <head>
  </head>
  <body>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
   
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </body>
</html>  