<html>
  <!-- Ive got this thing about properly formated HTML pages so I had put the wright minimal tags in -->
  <head>
  </head>
  <body>
    <h1>Editing Student</h1>
    
     <%= render 'form' %> <!--loads in the page the form templated defined in _form.html.erb-->
      <%= link_to 'Back', students_path %>
  </body>
</html>