<html>
  <head>
  </head>
  <body>
    <p>
      <strong>Title:</strong>
      <%= @post.title %> <!-- Shows the posts title -->
    </p>
 
    <p>
      <strong>Text:</strong> <!-- Shows the posts body text -->
      <%= @post.text %>
    </p>
  </body>
</html>