<html>
  <!-- Ive got this thing about properly formated HTML pages so I had put the wright minimal tags in -->
  <head>
  </head>
  <body>
    <p>
      <strong>Title:</strong>
      <%= @post.title %> <!-- Shows the posts title -->
    </p>
 
    <p>
      <strong>Text:</strong> <!-- Shows the posts body text -->
      <%= @post.text %>
    </p>
    ...
 
<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>
  </body>
</html>